<% content_for :title, "New Dwelling" %>

<div style="margin-bottom: 1rem;">
  <%= link_to "â† Back to Dwellings", dwellings_path %>
</div>

<h1>New Dwelling</h1>

<%= render "form", dwelling: @dwelling %>
