<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= room.floor.name %>
  </p>

  <p>
    <strong>Is a Kitchen:</strong>
    <%= room.is_kitchen ? "Yes" : "No" %>
  </p>

</div>
