<div id="<%= dom_id rule %>">
  <p>
    <strong>Description:</strong>
    <%= rule.description %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= rule.rule %>
  </p>

  <p>
    <strong>Applies to:</strong>
    <%= rule.applies_to %>
  </p>

</div>
